<!DOCTYPE html>
<html>
<head>
    <title>Household</title>
</head>
<body>
<wicket:extend>
    <form wicket:id="form">
        <div wicket:id="date">
            <input type="date" wicket:id="input" />
        </div>
        <div wicket:id="cost">
            <input type="number" wicket:id="input" />
        </div>
        <div wicket:id="category">
            <select wicket:id="input"></select>
        </div>
        <div wicket:id="description">
            <textarea wicket:id="input"></textarea>
        </div>
    </form>
</wicket:extend>
</body>
</html>